body {
    font-size: 16px;
}

nav {
    background-color: rgb(50, 144, 252);
    padding-top: 1rem;
    color: white;
    text-emphasis: bold;
}

aside {
    background-color: rgb(243, 243, 243);
}

aside ul li {
    list-style: none;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

table.table {
    margin: 1rem;
}

aside ul li.selected{
    background-color: rgb(40, 76, 141);
    color:white;

}
aside {
    padding: 0;
}
aside ul {
    padding: 0;
    padding-top: 0.5rem;
}

td.favorite {
    color: red;
}

nav div#rightalign{
    text-align: right;
}
nav div h3.title {
    flex-direction: row;
}

header {
    vertical-align: middle;
}

.addButton {
    margin:1rem;
}